body {
  background-image: url('./assets/background.avif');
  background-size: cover;
  text-align: center;
}

#header {
  top: 0;
  position: absolute;
  width: 100%;
}

#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}